<div class="content">
    <form name="ScriptForm">
        <center>
            <h1>Drug Search</h1>
        </center>
        <br>
        <input type="text" placeholder="Enter your subscription or leave blank to browse" style="width: 50%" ng-model="search">
        <button ng-click="loadData();">Submit</button>
    </form>
    <ul id="scriptList">
        <li ng-repeat=" prescription in prescriptions | filter:{name:search}:true ">
            <div class="resultDiv">
                {{prescription.name}}

                <div class="scriptinfo">
                    <ul>

                        <li>
                            <div class="rowclass">
                                <div class="namediv1">{{prescription.gen1}}</div>
                                <div class="purpose1">{{prescription.gen1purpose}}</div>
                                <div class="pricediv">{{prescription.gen1price}}</div>
                                <div class="linkdiv"><a href="{{prescription.gen1link}}">Buy</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="rowclass">
                                <div class="namediv2">{{prescription.gen2}}</div>
                                <div class="purpose2">{{prescription.gen2purpose}}</div>
                                <div class="pricediv">{{prescription.gen2price}}</div>
                                <div class="linkdiv"><a href="{{prescription.gen2link}}">Buy</a></div>
                            </div>
                        </li>
                        <li>
                            <div class="rowclass">
                                <div class="namediv3">{{prescription.gen3}}</div>
                                <div class="purpose3">{{prescription.gen3purpose}}</div>
                                <div class="pricediv">{{prescription.gen3price}}</div>
                                <div class="linkdiv"><a href="{{prescription.gen3link}}">Buy</a></div>
                            </div>
                            <li>

                    </ul>

                </div>
            </div>
            </li>
    </ul>

</div>