.orange {
    color: orange;
}

.red {
    color: red;
}

body {
    font-family: Helvetica;
    margin: 0;
    height: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

#menu-bar {
    background: lightgreen;
    color: #fff;
    padding: 0px;
    width: 100%;
    display: inline-block;
    position: relative;
}

.headermenu {
    width: 70%;
}

.headertitle {
    width: 25%;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 0px;
    font-size: 2em;
    font-style: italic;
}

#menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgreen;
}

#menu-bar li {
    float: left;
    height: 50px;
}

#menu-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}

#menu-bar li a:hover {
    background-color: slategray;
}

main {
    background: #eee;
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
}

.content {
    padding: 20px;
}

.content button,
.content input[type="submit"] {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: #777;
    border: 0;
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.1);
    font-size: 16px;
}

.content button:nth-child(2) {
    float: right;
}

.content ul {
    padding: 0;
    list-style-type: none;
    margin: 30px 0;
}

.content li {
    padding: 15px 0;
    border-top: 1px solid #e2e2e2;
    color: #444;
}

.content li span {
    float: right;
}

.content li h3 {
    display: inline-block;
    font-weight: normal;
    font-size: 22px;
}

.content input {
    width: 90%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px 0;
}

.content textarea {
    width: 90%;
    padding: 10px 5%;
    border-radius: 10px;
    border: 2px solid #ddd;
    margin: 10px 0;
    height: 75px;
}

.content input[type="submit"]:last-child {
    width: 150px;
    display: block;
    margin: 15px auto;
}

.remove {
    float: right;
    padding: 5px;
    background: #fff;
    width: 18px;
    text-align: center;
    border-radius: 20px;
    color: crimson;
    cursor: pointer;
    margin-left: 10px;
}

.resultDiv {
    max-height: 1em;
    background: slategray;
    color: white;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    -webkit-transition: 1s;
    transition: 1s;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

.resultDiv:hover {
    max-height: 999px;
    animation: fadein 4s;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 2px solid red;
}

input[disabled="disabled"] {
    opacity: 0.4;
    cursor: not-allowed !important;
}

.bottomdiv {
    width: 100%;
    height: 50px;
    background: lightgreen;
    position: absolute;
    bottom: 0;
}

::-webkit-input-placeholder {
    font-style: italic;
}

main.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

main.ng-enter.ng-enter-active {
    opacity: 1;
}

#scriptList li.ng-enter {
    transition: 0.2s linear all;
    opacity: 0;
}

#scriptList li.ng-enter-active {
    opacity: 1;
}

.rowclass {
    width: 100%;
    display: inline-block;
    color: white;
}

.namediv {
    width: 80%;
    display: inline-block;
}

.pricediv {
    width: 5%;
    display: inline-block;
}

.linkdiv {
    display: inline;
    position: relative;
    text-align: center;
    background: white;
    border: 5px black;
    border-radius: 5px;
    padding: 5px;
}

.linkdiv :hover {
    background: lightgreen;
    color: white;
    padding: 0 0;
}

.linkdiv :link {
    text-decoration: none;
}